@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/IRANSans/IRANSansWeb_Light.woff2') format('woff2'),
       url('/fonts/IRANSans/IRANSansWeb_Light.woff') format('woff'),
       url('/fonts/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/IRANSans/IRANSansWeb_Regular.woff2') format('woff2'),
       url('/fonts/IRANSans/IRANSansWeb_Regular.woff') format('woff'),
       url('/fonts/IRANSans/IRANSansWeb_Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/IRANSans/IRANSansWeb_Bold.woff2') format('woff2'),
       url('/fonts/IRANSans/IRANSansWeb_Bold.woff') format('woff'),
       url('/fonts/IRANSans/IRANSansWeb_Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/IRANSans/IRANSansWeb_Black.woff2') format('woff2'),
       url('/fonts/IRANSans/IRANSansWeb_Black.woff') format('woff'),
       url('/fonts/IRANSans/IRANSansWeb_Black.ttf') format('truetype');
  font-display: swap;
}

